<html>
<head>
	<meta http-equiv="Content-Type" content="text/html;">
	<title>Dashboard</title>

	<link rel="shortcut icon" href="{{MEDIA_URL}}image/favicon.ico">

	
	<script type="text/javascript" src="{{MEDIA_URL}}js/lib/jQuery.js"></script>
	<script type="text/javascript" src="{{MEDIA_URL}}js/lib/jQuery.flot.js"></script>

  	<script type="text/javascript" src="{{MEDIA_URL}}js/builder.js"></script>
</head>

<body>
<div id="placeholder" style="width:550px;height:200px;"></div>
  <script type="text/javascript" src="builder.js"></script>
</body>

<!-- 
<body>
	<h1>Software Engineering Dashboard</h1>
	<p id="mydate">The current time is </p>
	<div class="metric has-sparkline">
		<h2><a href='/dboard'>Builder</a></h2>
		<p class="value">
			<a href='javascript:window.alert("Show query data, in a new tab");'>112</a>
			<span class="timestamp">&nbsp;</span>
		</p>      
        <div class="sparkline" id="spark0" data-metric="commits_week" style="padding: 0px; ">
        	<canvas class="base" width="90" height="60"></canvas>
        	<canvas class="overlay" width="90" height="60" style="position: absolute; left: 0px; top: 0px; "></canvas>
        	<div class="tickLabels" style="font-size:smaller"></div>
       	</div>      
    </div>
</body>
 -->
</html>