<html>
<head>
	<meta http-equiv="Content-Type" content="text/html;">
	<title>Builders</title>

	<link rel="shortcut icon" href="{{MEDIA_URL}}image/favicon.ico">
	
	<script type="text/javascript" src="{{MEDIA_URL}}js/lib/jQuery.js"></script>
	<script type="text/javascript" src="{{MEDIA_URL}}js/lib/jQuery.flot.js"></script>

  	<script type="text/javascript" src="{{MEDIA_URL}}js/builder.js"></script>
</head>

<script type="text/javascript">
	function processdata_1() {
		var jdata1 = "{{ jd1 }}";
		processdata1(jdata1);
		
	}
	function processdata_2() {
		var jdata2 = "{{ jd2 }}";
		processdata2(jdata2);
		
	}
</script>

<body>
<h1 align="center">Cyan Project Development</h1>
<br><br><br><br>
<div style='height: 70%; width: 50%; float: left'>
	<div align="justify">
		<input type="button" onclick="javascript:processdata_1()" id="mybutton1" value="BuildMasterUpdater">
	</div>
	<br>
	<div align="left" id="placeholder1" style="width:75%;height:100%;"></div>
</div>
<div style='height: 70%; width: 50%; float: right'>
	<div align="justify">
		<input type="button" onclick="javascript:processdata_2()" id="mybutton2" value="cytestBuildSlaveUpdate">
	</div>
	<br>
	<div align="left" id="placeholder2" style="width:75%;height:100%;"></div>
</div>

</body>
</html>